body {
	font-size: 16px;
	overflow-y: scroll;
}

.container-fluid {
	max-width: 1060px;
}

div > *:first-child {
	margin-top: 0;
}

header, footer {
	text-align: center;
}

header h1 {
	font-weight: bold;
}

footer p{
	margin-bottom: 21px;
}

.fullscreen header h1 {
	font-size: 25px;
}

.fullscreen header p, .fullscreen footer {
	display: none;
}

.fullscreen #fullscr {
	color: maroon;
}

.fullscreen #fullscr .fa-arrows-alt:before {
	content: "\f10c";
}

.sim-running .nav-tabs *[href="#simulator"],
.sim-running .nav-tabs *[href="#io"] {
	color: maroon !important;
}

textarea {
	font-family: monospace;
	font-size: 13px;
	width: 100%;
	resize: none;
	border: 2px solid #dce4ec;
	border-radius: 4px;
}

.CodeMirror {
	font-size: 14px;
	line-height: 1.2em;
	height: 600px;
	border: 2px solid #dce4ec;
	border-radius: 4px;
}

.CodeMirror .asm-ruler, .CodeMirror .asm-ruler-extra {
	display: none;
}

.CodeMirror.asm-show-extra-rulers .asm-ruler-extra,
.CodeMirror.asm-show-rulers .asm-ruler {
	display: block;
}

.tab-page-program {
	overflow-x: auto;
}

#prog-memory-footprint {
	border: 2px solid #dce4ec;
	border-radius: 4px;
}

.tab-page-simulator table {
	width: 100%;
}

.tab-page-simulator table td {
	width: 85px;
	padding: 0 2px;
	vertical-align: top;
}

.tab-page-simulator table td:last-child {
	width: auto;
}

#sim-memory0, #sim-memory1 {
	resize: vertical;
	height: 200px;
}

/* IO */

.sim-io-visible .nav-tabs *[href="#io"] {
	display: none;
}

.sim-io-visible .tab-page-simulator:not(.hidden) ~ .tab-page-io {
	display: block !important;
}
