ServerSignature Off
DirectoryIndex index.html
DirectorySlash On
AcceptPathInfo Off
RewriteEngine On
Options -MultiViews -Indexes -Includes -ExecCGI +FollowSymLinks

AddCharset UTF-8 .html .js .css .as
