body {
	font-size: 16px;
	overflow-y: scroll;
}

.container-fluid {
	max-width: 1050px;
}

div > *:first-child {
	margin-top: 0;
}

header, footer {
	text-align: center;
}

header h1 {
	font-weight: bold;
}

.fullscreen header h1 {
	font-size: 25px;
}

.fullscreen header p, .fullscreen footer {
	display: none;
}

.fullscreen #fullscr {
	color: maroon;
}

.fullscreen #fullscr .fa-arrows-alt:before {
	content: "\f10c";
}

.sim-running .nav-tabs *[href="#simulator"],
.sim-running .nav-tabs *[href="#io"] {
	color: maroon !important;
}

textarea {
	font-family: monospace;
	font-size: 13px;
	width: 100%;
	resize: none;
}

.CodeMirror {
	font-size: 14px;
	line-height: 1.2em;
	height: 600px;
}
