body {
	font-size: 16px;
	overflow-y: scroll;
}

.container-fluid {
	max-width: 1050px;
}

header, footer {
	text-align: center;
}

header h1 {
	font-weight: bold;
}

textarea {
	font-family: monospace;
	font-size: 13px;
	width: 100%;
	resize: none;
	overflow-y: scroll;
}

.CodeMirror {
	font-size: 14px;
	line-height: 1.2em;
	height: 500px;
}
